{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }}">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <h2>Convert currencies</h2>
            <hr>
            <form class="row" method="post">
                <div class="form-group col-xs-12 col-md-8">
                    <label class="sr-only" for="convert">Convert currencies</label>
                    <input name="calculationForm[convert]" type="text" class="form-control" id="convert"
                           placeholder="convert GBP 100 to PLN">
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <button type="submit" class="btn btn-primary">Calculate it for me</button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div id="container">
            <h2>Converted currencies:</h2>
            <hr>
            {% for data in dataArray %}
                <form class="row">
                    <div class="form-group col-xs-12 col-md-5">
                        <label class="sr-only" for="exampleInputAmount">Amount (in {{ data['initialCurrencyLong']|default('pounds') }})</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{ data['initialCurrencyShort']|default('$') }}</div>
                            <input type="text" class="form-control" id="exampleInputAmount"
                                   placeholder="{{ data['amount']|default(0)|round(0, 'floor') | number_format(0) }}"
                                   readonly>
                            <div class="input-group-addon">
                                .{{ "%02d"|format(((data['amount']|default(0) - (data['amount']|default(0)|round(0,'floor'))) * 100) |round(0)) }}</div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-md-2">
                        <label class="sr-only" for="rate">Exchange rate</label>
                        <input type="text" class="form-control " id="rate"
                               placeholder="{{ data['rate']|default("Exchange rate") }}" readonly>
                    </div>
                    <div class="form-group col-xs-12 col-md-5">
                        <label class="sr-only" for="Receive">Receive (in {{ data['secondCurrencyLong']|default('zlotys') }})</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{ data['secondCurrencyShort']|default('€')}}</div>
                            <input type="text" class="form-control" id="Receive"
                                   placeholder="{{ data['amountConverted']|default(0)|round(0, 'floor') | number_format(0) }}"
                                   readonly>
                            <div class="input-group-addon">
                                .{{ "%02d"|format(((data['amountConverted']|default(0) - (data['amountConverted']|default(0)|round(0,'floor'))) * 100) |round(0)) }}</div>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 28px;
            line-height: 2.1;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #icon-status {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #logo {
            display: inline-block;
            float: left;
            height: 68px;
            margin-right: 1em;
            margin-top: -4px;
            width: 124px;
        }

        @media (min-width: 768px) {
            #wrapper {
                width: 80%;
                margin: 2em auto;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
